/**
 * GoogleMapsDirectionsPanel
 */

.ol-gmdp-route-total-distance {
  margin: 10px 0;
}

.ol-gmdp-leg-header div {
  cursor: pointer;
}

.ol-gmdp-leg-header div {
  background: #eee;
  border: 1px solid silver;
  padding: 10px 0;
  margin: 10px 0;
  vertical-align: middle;
}

.ol-gmdp-steps {
  width: 100%;
}

.ol-gmdp-step {
  border-top: 1px solid #cdcdcd;
  cursor: pointer;
  vertical-align: top;
}

.ol-gmdp-step td {
  padding: .3em 3px;
  margin: 0;
}

.ol-gmdp-step-maneuver {
  width: 20px;
}

.ol-gmdp-step-num {
  width: 20px;
}

.ol-gmdp-step-distance {
  width: 50px;
}

.ol-gmdp-selector-item {
  cursor: pointer;
}

/**
 * GoogleMapsDirectionsPanel
 */

.ol-overlaycontainer .popover {
  width: 300px;
  max-width: 300px;
}

/**
 * GoogleMapsGeocoder
 */

.ol-gmg-results {
  position: absolute;
  min-width: 206px;
  max-height: 100px;
  max-width: 300px;
  margin-left: 3px;
  border-radius: 4px;
  overflow-y: auto;
  overflow-x: hidden;
  border: 1px solid #aaa;
  background-color: white;
}

.ol-gmg-results li{
  margin: 0px;
  padding: 5px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.ol-gmg-results li:hover{
  background-color: #5ec5d5;
}

