/**
 * GoogleMapsDirectionsPanel
 */

.ol-gmdp-route-total-distance {
}

.ol-gmdp-leg-header div {
  cursor: pointer;
}

.ol-gmdp-leg-header div {
  background: #eee;
  border: 1px solid silver;
  padding: 10px 0;
  margin: 10px 0;
  vertical-align: middle;
}

.ol-gmdp-leg-icon {
  padding: 10px;
}

.ol-gmdp-steps {
  width: 100%;
}

.ol-gmdp-step {
  border-top: 1px solid #cdcdcd;
  cursor: pointer;
  vertical-align: top;
}

.ol-gmdp-step td {
  padding: .3em 3px;
  margin: 0;
}

.ol-gmdp-step-maneuver {
  width: 20px;
}

.ol-gmdp-step-num {
  width: 20px;
}

.ol-gmdp-step-distance {
  width: 50px;
}

.ol-gmdp-selector-item {
  cursor: pointer;
}

.ol-gmdp-selector-item.ol-gmdp-selector-item-selected{
  font-weight:bold;
}
#ol-gmdp-selector-toggle{
  cursor:pointer;
}

.ol-gmdp-offer {
  border: 1px solid #b6b6b6;
}

.ol-gmdp-offer-even {
  background-color: #ebebeb;
}

.ol-gmdp-offer-num {
  background-color: #f28d00;
  float: left;
  padding: 2px 9px;
  color: white;
}

.ol-gmdp-bookmark {
  background-image: url('../img/stars.png');
  display: block;
  float: right;
  margin: 2px;
  width: 25px;
  height: 24px;
}

.ol-gmdp-bookmark-none {
  background-position: -25px 0;
}

.ol-gmdp-bookmark-this {
  background-position: 0 0;
}

.ol-gmdp-bookmark-another {
  background-position: -75px 0;
}

.ol-gmdp-offer-left {
  float: left;
  padding: 8px 8px 8px 2px;
  width: 215px;
}

.ol-gmdp-offer-right {
  padding: 8px 18px 8px 8px;
}

.ol-gmdp-offer-travelmode-pic,
.ol-gmdp-offer-user-pic {
  float: left;
  margin: 0 5px 5px 0;
}

.ol-gmdp-offer-user-pic {
  height: auto;
  width: 75px;
}

.ol-gmdp-offer-travelmode-pic {
  background-color: #A2AEA9;
  background-image: url('../img/travel-mode-sprites.png');
  border: 1px solid #b6b6b6;
  height: 45px;
  width: 45px;
}

.ol-gmdp-offer-travelmode-pic-bicycling {
  background-position: 0 -90px;
}

.ol-gmdp-offer-travelmode-pic-carpooling {
  background-position: 0 -180px;
}

.ol-gmdp-offer-travelmode-pic-driving {
  background-position: 0 0;
}

.ol-gmdp-offer-travelmode-pic-walking {
  background-position: 0 -45px;
}

.ol-gmdp-offer-travelmode-pic-transit {
  background-position: 0 -135px;
}

.ol-gmdp-clear-left {
  clear: left;
}

.ol-gmdp-offer-header {
  font-weight: bold;
}

a.ol-gmdp-offer-user-fullname {
  display: block;
}

.ol-gmdp-offer-pipe {
  margin: 0 8px;
}

.ol-gmdp-offer-user-eval {
  background-color: #6b6b6b;
  float: left;
  height: 20px;
  /*margin: 0 3px 3px 0;*/
  width: 80px;
}

.ol-gmdp-offer-icon {
  background-color: #6b6b6b;
  float: left;
  height: 20px;
}

.ol-gmdp .ol-gmdp-selector-toggle-opened,
.ol-gmdp .ol-gmdp-selector-toggle-closed {
  display: none;
}

.ol-gmdp-read-only .ol-gmdp-selector-header,
.ol-gmdp-read-only .ol-gmdp-selector-toggle-opened,
.ol-gmdp-read-only .ol-gmdp-selector-toggle-closed,
.ol-gmdp-read-only .ol-gmdp-selector-item,
.ol-gmdp-read-only .ol-gmdp-routes,
.ol-gmdp-read-only .ol-gmdp-show-details-button {
  display: none;
}

.ol-gmdp-read-only .ol-gmdp-selector-item-selected {
  display: block;
}

.ol-gmdp-offer-group-logo {
  max-height: 30px;
  padding: 0 5px 0 0;
  width: auto;
}

/**
 * GoogleMapsDirectionsPanel
 */

.ol-overlaycontainer .popover {
  width: 300px;
  max-width: 300px;
}

/**
 * GoogleMapsGeocoder
 */

.ol-gmg-results {
  position: absolute;
  min-width: 206px;
  max-height: 100px;
  max-width: 300px;
  margin-left: 3px;
  border-radius: 4px;
  overflow-y: auto;
  overflow-x: hidden;
  border: 1px solid #aaa;
  background-color: white;
  z-index:5;
}

.ol-gmg-results li{
  margin: 0px;
  padding: 5px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.ol-gmg-results li:hover{
  background-color: #5ec5d5;
  cursor: pointer;
}

.ol-gmg-results li.ol-gmg-result-item-unselectable{
  background-color: #CDCDCD;
  color: #666666;
  cursor: wait;
}


.ol-gmg-icon-image {
  cursor: move;
}

/**
 * GoogleMapsAddresses
 */

.ol-gmads-addresses{
  max-width: 300px;
}

.ol-gmads-addresses li:hover{
  background-color: #5ec5d5;
  cursor: pointer;
}

.ol-gmads-remove-address{
  float:right;
  margin-top: 10px;
  margin-right: 10px;
}


/**
 * GoogleMapsDirections
 */

ul.ol-gmds-geocoders {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.ol-gmds-fieldset {
  display: none;
}

.ol-gmds-checkbox-link-container {
  margin: 5px 0;
}

.ol-gmds-checkbox-link {
  background-color: #A2AEA9;
  background-image: url('../img/travel-mode-sprites.png');
  cursor: pointer;
  float: left;
  height: 45px;
  margin: 5px 8px 0 0;
  width: 45px;
}

.ol-gmds-checkbox-link-checked,
.ol-gmds-checkbox-link:hover {
  background-color: #39B9EB;
}

.ol-gmds-checkbox-link-bicycling {
  background-position: 0 -90px;
}

.ol-gmds-checkbox-link-carpooling {
  background-position: 0 -180px;
}

.ol-gmds-checkbox-link-driving {
  background-position: 0 0;
}

.ol-gmds-checkbox-link-walking {
  background-position: 0 -45px;
}


.ol-gmds-checkbox-link-transit {
  background-position: 0 -135px;
}

.ol-gmds-checkbox-link-end-separator {
  clear: left;
}

.ol-gmds-highlight {
  border: 2px dashed #aaaaaa;
  padding: 15px;
}

.ol-gmds-reverse-button {
}
