/**
 * GoogleMapsDirectionsPanel
 */

.ol-gmdp-route-total-distance {
  margin: 10px 0;
}

.ol-gmdp-leg-header div {
  cursor: pointer;
}

.ol-gmdp-leg-header div {
  background: #eee;
  border: 1px solid silver;
  padding: 10px 0;
  margin: 10px 0;
  vertical-align: middle;
}

.ol-gmdp-leg-icon {
  padding: 10px;
}

.ol-gmdp-steps {
  width: 100%;
}

.ol-gmdp-step {
  border-top: 1px solid #cdcdcd;
  cursor: pointer;
  vertical-align: top;
}

.ol-gmdp-step td {
  padding: .3em 3px;
  margin: 0;
}

.ol-gmdp-step-maneuver {
  width: 20px;
}

.ol-gmdp-step-num {
  width: 20px;
}

.ol-gmdp-step-distance {
  width: 50px;
}

.ol-gmdp-selector-item {
  cursor: pointer;
}

.ol-gmdp-selector-item.ol-gmdp-selector-item-selected{
  font-weight:bold;
}
#ol-gmdp-selector-toggle{
  cursor:pointer;
}
/**
 * GoogleMapsDirectionsPanel
 */

.ol-overlaycontainer .popover {
  width: 300px;
  max-width: 300px;
}

/**
 * GoogleMapsGeocoder
 */

.ol-gmg-results {
  position: absolute;
  min-width: 206px;
  max-height: 100px;
  max-width: 300px;
  margin-left: 3px;
  border-radius: 4px;
  overflow-y: auto;
  overflow-x: hidden;
  border: 1px solid #aaa;
  background-color: white;
}

.ol-gmg-results li{
  margin: 0px;
  padding: 5px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.ol-gmg-results li:hover{
  background-color: #5ec5d5;
  cursor: pointer;
}

/**
 * GoogleMapsAddresses
 */

.ol-gmads-addresses{
  max-width: 300px;
}

.ol-gmads-addresses li:hover{
  background-color: #5ec5d5;
  cursor: pointer;
}

.ol-gmads-remove-address{
  float:right;
  margin-top: 10px;
  margin-right: 10px;
}


/**
 * GoogleMapsDirections
 */

.ol-gmds-fieldset {
  display: none;
}

.ol-gmds-checkbox-link-container {
  margin: 5px 0;
}

.ol-gmds-checkbox-link {
  background-color: #A2AEA9;
  background-image: url('../img/travel-mode-sprites.png');
  cursor: pointer;
  float: left;
  height: 45px;
  margin: 5px 8px 0 0;
  width: 45px;
}

.ol-gmds-checkbox-link-checked,
.ol-gmds-checkbox-link:hover {
  background-color: #39B9EB;
}

.ol-gmds-checkbox-link-bicycling {
  background-position: 0 -90px;
}

.ol-gmds-checkbox-link-carpooling {
  background-position: 0 0;
}

.ol-gmds-checkbox-link-driving {
  background-position: 0 0;
}

.ol-gmds-checkbox-link-walking {
  background-position: 0 -45px;
}


.ol-gmds-checkbox-link-transit {
  background-position: 0 -135px;
}

.ol-gmds-checkbox-link-end-separator {
  clear: left;
}